@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(39,0,88,1) 0%, rgba(51,0,100,1) 35%, rgba(125,0,169,1) 100%);
}

/* Navbar */

.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar .container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .container a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.3s;
}

/* Responsive */

@media (max-width: 700px) {
    .navbar .container a {
        font-size: 0.8em;
    }

    .navbar .container img {
        width: 50px;
    }
}

/* Section 1 */

.sec1 {
    margin-top: 100px;
}

.sec1 .container {
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.sec1 .container .left h1 {
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.sec1 .container .left h1 span {
    font-size: 2em;
}

.sec1 .container .left p {
    font-size: 1em;
    color: #fff;
    margin: 20px 0;
}

.sec1 .container .left .thumb {
    position: absolute;
    left: 400px;
    transform: translateX(-50%);
    display: flex;
}

.sec1 .container .left .thumb li {
    border: 1px solid #fff;
    border-top-width: 10px;
    color: #fff;
    border-radius: 40px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.sec1 .container .left .thumb li:hover {
    transform: translateY(-15px);
    background: #fff;
}

.sec1 .container .left .thumb li img {
    max-width: 40px;
}

.sec1 .container .right {
    width: 600px;
    display: flex;
    padding-right: 150px;
    margin-top: 50px;
    justify-content: flex-end;
}

.sec1 .container .right img {
    max-width: 260px;
}

/* Responsive */

@media (max-width: 1500px) {
    .sec1 .container .left h1 {
        font-size: 6em;
    }
}

@media (max-width: 1300px) {
    .sec1 .container {
        flex-direction: column;
    }

    .sec1 .left {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .sec1 .right img {
        margin-top: 50px;
        width: 90%;
    }
}

@media (max-width: 650px) {
    .sec1 .container .left h1 {
        font-size: 4em;
    }

    .sec1 .container .left p {
        margin: 20px 35px;
    }
}