@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(39,0,88,1) 0%, rgba(51,0,100,1) 35%, rgba(125,0,169,1) 100%);
}

/* Navbar */

.navbar {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
}

.navbar .container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar .container a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    transition: 0.3s;
}

/* Responsive */

@media (max-width: 700px) {
    .navbar .container a {
        font-size: 0.8em;
    }

    .navbar .container img {
        width: 50px;
    }
}

/* Section 1 */

.sec1 {
    margin-top: 100px;
}

.sec1 .container {
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.sec1 .container .left h1 {
    font-size: 4em;
    line-height: 1.5em;
    font-weight: 900;
    color: #fff;
    text-transform: uppercase;
}

.sec1 .container .left h1 span {
    font-size: 2em;
}

.sec1 .container .left p {
    font-size: 1em;
    color: #fff;
    margin: 20px 0;
}

.sec1 .container .left .thumb {
    position: absolute;
    left: 400px;
    transform: translateX(-50%);
    display: flex;
}

.sec1 .container .left .thumb li {
    border: 1px solid #fff;
    border-top-width: 10px;
    color: #fff;
    border-radius: 40px;
    display: inline-block;
    margin: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.sec1 .container .left .thumb li:hover {
    transform: translateY(-15px);
    background: #fff;
}

.sec1 .container .left .thumb li img {
    max-width: 40px;
}

.sec1 .container .right {
    width: 600px;
    display: flex;
    padding-right: 150px;
    margin-top: 50px;
    justify-content: flex-end;
}

.sec1 .container .right img {
    max-width: 260px;
}

/* Responsive */

@media (max-width: 1500px) {
    .sec1 .container .left h1 {
        font-size: 6em;
    }
}

@media (max-width: 1300px) {
    .sec1 .container {
        flex-direction: column;
    }

    .sec1 .left {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .sec1 .right img {
        margin-top: 50px;
        width: 90%;
    }
}

@media (max-width: 650px) {
    .sec1 .container .left h1 {
        font-size: 4em;
    }

    .sec1 .container .left p {
        margin: 20px 35px;
    }
}

/* Section 2 */

.sec2 {
    margin: 250px 0;
}

.sec2 .container {
    display: flex;
    align-items: center;
    max-width: 1500px;
    margin: 0 auto;
}

.sec2 .container .big-card {
    position: relative;
    width: 95%;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid #fff;
    box-shadow: 0px 0px 20px 10px #fff;
    animation: shadow 5s infinite ease-in-out;
}

@keyframes shadow {
    0% {
        box-shadow: 0px 0px 45px 30px #fff;
    }

    20% {
        box-shadow: 0px 0px 45px 0px #fff;
    }

    40% {
        box-shadow: 0px 0px 45px 15px #fff;
    }

    70% {
        box-shadow: 0px 0px 45px -10px #fff;
    }

    100% {
        box-shadow: 0px 0px 45px 30px #fff;
    }
}

.sec2 .container .big-card .arrow::before {
    content: "\f107";
    font-family: "FontAwesome";
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 50px;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: black;
}

.sec2 .container .big-card .left {
    margin-right: 80px;
}

.sec2 .container .big-card .left img {
    position: relative;
}

.sec2 .container .big-card .right {
    max-width: 500px;
}

.sec2 .container .big-card .right h4 {
    color: #fff;
    letter-spacing: 2px;
}

.sec2 .container .big-card .right h1 {
    color: #fff;
    font-size: 5em;
    margin-bottom: 30px;
}

.sec2 .container .big-card .right p {
    color: #fff;
    line-break: anywhere;
}